# Copy this file to .env and fill in your values

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/PJX?retryWrites=true&w=majority&appName=<AppName>
SESSION_SECRET=your-strong-random-secret-key
PORT=5000
